* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(98, 176, 240);
    height: 125px;
}

main {
    padding: 30px;
    background-image: url("assets/nhl_background.jpg");
}

#switchLabel {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s;
}

#switchLabel:hover {
    color: #02105c;
    background-color: white;
}

#switch {
    display: none;
}

#mainHeader {
    text-align: center;
    font-size: 47px;
    color: rgb(0, 20, 36);
    margin: 0 auto;
}

#mainSection {
    width: 70%;
    border-radius: 40px;
    margin: 0 auto;
    background-color: rgb(13, 32, 49);
}

ol {
  list-style: none;  
}

ol li h2 {
    text-align: center;
}

ol li h2 a {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 15px 0;
    text-transform: capitalize;
    transition: all 0.3s;
}

ol > li > h2 > a:hover {
    color: white;
    background-color: cadetblue;
}

li > .paragraph {
    margin: 0 auto;
    width: 60%;
    text-indent: 20px;
    line-height: 1.6;
}

#tableSection {
    background-color: rgb(138, 194, 240);
}

#tableSection h2 {
    text-align: center;
    text-decoration: underline;
}

table, th, td {
    color: white;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}