body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

header a img {
    max-width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

#mainSection, #tableSection {
    padding: 20px;
    background-color: #bebebe;
    border-radius: 10px;
}

#mainHeader {
    text-align: center;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
    }

    #mainSection, #tableSection {
        margin-bottom: 20px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header a img {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 40px;
    }

    #mainSection, #tableSection {
        padding: 40px;
    }

    #mainHeader {
        font-size: 2em;
    }

    table {
        font-size: 1.2em;
    }
}
