h1, h2 {
    color: white;
    text-decoration: underline;
}

h2 {
    font-size: x-large;
}

li {
    color: white;
}

table, th, td {
    color: white;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}